.DS_Store
npm-debug.log
tsconfig.json

.idea/

node_modules/

.tscache/
typings/
bower-task/**/*.js
bower_components/

example/sample.js
example/sample.rb

lib/**/*.js
lib/**/*.js.map
spec/**/*.js
spec/**/*.js.map

# alternative of .npmignore... http://discuss.atom.io/t/how-to-use-the-npmignore/9208
# 解決方法が見つかったら以下の行を消して grunt clean して git commit -a すること
!lib/**/*.js
!lib/**/*.js.map
!bower-task/main-js/**/*.js
