# misc
.git/
.DS_Store
npm-debug.log
.gitignore
.travis.yml
bower.json
build-package.sh
tsd.json
tslint.json

# for WebStorm
.idea/

# for npm
node_modules/

# for grunt and grunt tasks
.tscache/
bower-task/jquery/
bower_components/
Gruntfile.js

# others
example/
spec/
