'fileTypes': [
  're'
]
'name': 'Re:VIEW'
'patterns': [
  {
    'name': 'markup.heading.review'
    'begin': '(^=+\s*.*)'
    'captures':
      '1':
        'name': 'entity.name.tag.heading.review'
    'end': '$'
    'patterns': [
    ]
  }
]
'scopeName': 'source.re'
