'.workspace':
  'ctrl-R': 'language-review:toggle-preview'
'.editor':
  'ctrl-alt-[': 'language-review:move-to-previous-violation'
  'ctrl-alt-]': 'language-review:move-to-next-violation'
'.review-preview':
  'cmd-+': 'language-review:zoom-in'
  'cmd-=': 'language-review:zoom-in'
  'cmd--': 'language-review:zoom-out'
  'cmd-_': 'language-review:zoom-out'
  'cmd-0': 'language-review:reset-zoom'
